html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.layout {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    overflow-x: hidden;
}